@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-display: swap;
    /* Read next point */
    unicode-range: U+000-5FF; /* Download only latin glyphs */
    src: local('JetBrains Mono'),
            url('https://fa-cdn.bitinflow.com/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
            url('https://fa-cdn.bitinflow.com/fonts/JetBrainsMono-Regular.woff') format('woff');
}

body {
    font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'JetBrains Mono', 'Inter', sans-serif;
}

/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

/**
 * Code Editor Styles
 */
code, kbd, .line-number {
    font-family: "JetBrains Mono", sans-serif!important;
    line-height: 1.2;
}
.token.operator {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.token.important,
.token.constant,
.token.keyword {
    color: #CC7832;
}
.token.function {
    color: #FFC66D;
}
.token.comment,
.token.string {
    color: #6A8759;
}
.token.variable {
    color: #9876AA;
}
.theme-default-content pre[class="language-php"] code
.theme-default-content pre[class="language-bash"] code,
.theme-default-content pre[class="language-bash"] code > .token.function,
.token.operator,
.token.package,
.token.punctuation,
.token.class-name {
    color: #A9B7C6;
}

/**
 * Landing Page
 */


.landing-page-wrapper {
    height: calc(100vh - 58px);
    box-sizing: border-box;
    background: rgb(83,5,165);
    background: linear-gradient(90deg, rgba(83,5,165,1) 0%, rgba(69,5,141,1) 60%, rgba(36,4,87,1) 100%);
    .page-edit .edit-link a,
    .page-edit .last-updated .prefix {
        color: #fff;
    }
    .sidebar-button {
        background: #5107b3;
        border-radius: 4px;
    }
    .sidebar {
        background: #250459;
        border-color: #5107b3;
        color: white;
        .title {
            color: white;
        }
    }
    .sidebar .nav-links {
        border-color: #5107b3;
    }
    .navbar {
        background: #150130;
        border-color #250459;
        .site-name {
            color: white;
        }
        .nav-dropdown {
            background: #1b0439;
            border-color: #5107b3;
        }
        .dropdown-wrapper .dropdown-title,
        .nav-links a:hover {
            color: white;
        }
        .links {
            background-color: transparent;
            color: white;
        }
    }
    .theme-default-content {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 0;
    }
    footer {
        display: none;
    }
}
